[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
py-ens = {editable = true, path = "."}
pytest = "*"
pytest-cov = "*"
tox = "*"
eth-hash = {extras = ["pycryptodome"], version = "*"}
eth-typing = "==3.0.0"
eth-utils = "*"
idna = "*"
requests = "*"
pytest-vcr = "*"

[dev-packages]

[requires]
python_version = "3.7"
